// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: red !important; /* Red background color */
  border-color: red !important;     /* Red border color */

  &:active,
  &:focus,
  &:hover {
    background-color: darken(red, 7.5%) !important; /* Darken red on hover/active/focus */
    border-color: darken(red, 7.5%) !important;     /* Darken border on hover/active/focus */
    color: blueviolet !important; /* Ensure the text is white */
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5) !important; /* Red box-shadow */
  }
}


